.input-group-prepend {
  display: flex;
  justify-content: space-between;
}
.input-group {
  font-family: "Poppins", sans-serif !important;
  font-size: 20px;
  height: 45px;
}
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
html {
  background-image: url("https://media.discordapp.net/attachments/816755257936969748/819638710214852638/ignasi_pattern_s.png");
  background-color: rgb(70, 66, 66);
  padding-bottom: 100px;
}
nav {
  background-color: rgb(218, 159, 159);
  background-image: url("https://media.discordapp.net/attachments/816755257936969748/821458894248607808/mochaGrunge_2X.png?width=603&height=603");
}
.picture {
  display: flex;
  justify-content: space-between;
}
.picture img {
  border-radius: 50%;
}
#allUsers {
  padding: 100px 100px 0px 100px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("https://media.discordapp.net/attachments/816755257936969748/821458409798893629/doodles.png");
}
.card {
  transition: 0.55s ease;
  border-radius: 15px !important;
  padding: 20px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif !important;

  width: auto;
  backdrop-filter: blur(2px);
  background-color: #4b494950;
}
.card:hover {
  border-radius: 25px !important;
  box-shadow: inset 0px 0px 13px;
  backdrop-filter: blur(10px);
  cursor: pointer;
}
.container-fluid {
  padding: 0 !important;
}
.form-search {
  border: none;
  outline: none !important;
}
.btn {
  background-image: url("https://media.discordapp.net/attachments/816755257936969748/819631374377943050/wood-pattern.png");
  background-color: rgb(238, 220, 192);
}
#selector {
  outline: none;
  margin-right: 10vw;
  width: 200px;
}
/* beutifull magic button */
#sort-button {
  text-decoration: none;
  text-align: center;

  color: #fff;

  text-transform: uppercase;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    #153479,
    #135197,
    #16549b,
    #14268b,
    #153479
  );
  background-size: 400%;
}
#sort-button:hover {
  color: whitesmoke;
  text-decoration: none;
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.navbar {
  box-shadow: 0px 7px 20px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
#sort-button:before {
  content: "";

  z-index: -1;
  background: linear-gradient(
    90deg,
    #153479,
    #135197,
    #16549b,
    #14268b,
    #153479
  );
  background-size: 400%;
  border-radius: 40px;
  filter: blur(20px);
  opacity: 0;
  transition: 0.5s;
}
#sort-button:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 3s linear infinite;
}
#sort-button:hover {
  color: whitesmoke;
  text-decoration: none;
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
#loading {
  height: 110vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.dunya {
  width: 500px;
  height: 50vh;
  background: url(https://1.bp.blogspot.com/-UUXaK5GCj-k/UcsKJRMgkVI/AAAAAAAACfM/sePP_H08JTQ/s1600/1.jpg);
  border-radius: 100%;
  background-size: cover;
  animation: spin 1.5s infinite alternate-reverse;
}

.logo {
  margin-top: 15px;
  color: #51609b;
  font-weight: bold;
}

@keyframes spin {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
